<section class="dashboard-wrap mtb-40">
    <div class="container">
          <div class="body-content">
          <div class="row">
            <div class="col-md-3">
                      <div class="dash-left">
                          <ul>
                              <li><a routerLink="/dashboard" routerLinkActive="active" class="nav-link">Dashboard</a></li>
                              <li><a routerLink="/post" routerLinkActive="active" class="nav-link">Posts</a></li>
                              <li><a href="#">Courses</a></li>
                              <li><a href="#">Pages</a></li>
                              <li><a href="#">Logout</a></li>
                          </ul>
                      </div>   
                  </div>
                  <div class="col-md-9">
                      <div class="dash-right">
                          <h1>Dashboard</h1>
                          <p>Our Website is amazing and easy to learn from basic to advanced level. </p>
                      </div>   
                  </div>
          </div>
          </div>
    </div>
  </section>